.btn {
  display: block;
  width: 180px;
  text-align: center;
  background-color: $color-navy-blue;
  padding: 21px 5px 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $color-default-white;
  border: 0;
  user-select: none;
  cursor: pointer;
  appearance: none;
  text-decoration: none;

  @include without-outline;

  &:hover:not([disabled]) {
    outline: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  &:focus:not([disabled]) {
    outline: 1px solid $color-transparent;
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  &:active:not([disabled]) {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &[disabled] {
    background-color: $color-nobel;
    color: $color-default-white;
  }

  &.swiper-button-disabled {
    background-color: $color-nobel;
    color: $color-default-white;
  }
}
