.form {}

.form .container {
  padding: 0;
}

.form__wrapper {
  position: relative;
  padding: 271px 200px;
  padding-bottom: 358px;
}

.form__title {
  margin: 0 auto;
  text-align: center;
  color: $color-default-white;
}

.form__title h2 {
  margin: 0;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  @include vp-1440 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.form__title p {
  margin: 0;

  @include vp-1440 {}

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}



.form__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $color-nobel;
}

.form__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
