.gallery {}

.gallery .container {
  padding: 0;
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 223px 0;
  padding-bottom: 0;

  @include vp-1440 {
    padding-top: 50px;
  }

  @include vp-767 {
    padding-top: 7px 0;
  }
}

.gallery__titel {
  display: flex;
  flex-direction: column;
  padding: 0 120px;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: start;

  @include vp-1440 {
    margin-bottom: 21px;
    padding: 0 45px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    padding: 0 15px;
  }
}

.gallery__titel h2 {
  position: relative;
  margin: 0;
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  @include vp-1440 {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin-bottom: 26px;
    font-size: 22px;
    line-height: 22px;
  }
}

.gallery__titel h2::before {
  position: absolute;
  top: -17px;
  left: 1px;
  color: $color-elephant;
  opacity: 3%;
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;
  content: attr(data-titel-tag);

  @include vp-1440 {
    top: -16px;
    left: 0;
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    top: -14px;
    font-size: 26px;
    line-height: 26px;
  }
}

.gallery__titel p {
  margin: 0;
  margin-right: 538px;

  @include vp-1440 {
    margin-right: 295px;

    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery__titel p br {
  display: none;

  @include vp-1440 {
    display: block;
  }
}


.gallery__navigation {
  display: none;
  flex-wrap: wrap;
  position: absolute;

  @include vp-1440 {
    display: flex;
    flex-wrap: wrap ;
    justify-content: end  ;
    top: 136px;
    right: 45px;
    max-width: 150px;
    gap: 4px;
  }

  @include vp-767 {
    display: none;
  }
}
