.slider-gallery {
  max-width: 1440px;
  width: 100%;

  @include vp-1440 {
    max-width: 768px;
    width: 100%;
  }

  @include vp-767 {
    max-width: 320px;
  }
}

.slider-gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 5px;

  @include vp-1440 {
    gap: 0;
  }
}

.slider-gallery__item {
  max-width: 284px;
  max-height: 463px;
  height: 100%;
  width: 100%;

  @include vp-1440 {
    max-width: 253px;
    max-height: 418px;
  }

  @include vp-767 {
    max-width: 158px;
    max-height: 270px;
  }
}

.slider-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    width: auto;
  }
}

.slider-gallery__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-1440 {
    gap: 5px;
  }

  @include vp-767 {
    max-height: 267px;
    gap: 6px;
  }
}


.slider-gallery__item-image {
  width: 100%;

  @include vp-767 {
    height: 135px;
  }
}


.slider-gallery__item-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
