.slider-reviews {
  max-width: 1320px;
  width: 100%;

  @include vp-1440 {
    max-width: 1160px;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.slider-reviews__list {
  list-style: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  @include vp-1440 {
    margin-left: -1px;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.slider-reviews__list .swiper-slide {
  display: grid;
  grid-template-columns: 257px 1fr;
  padding: 13px 20px;
  padding-top: 17px;
  height: auto;
  gap: 30px;

  @include vp-1440 {
    padding-top: 20px;
    padding-bottom: 6px;
    grid-template-columns: 186px 1fr;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 2px 19px;
    padding-top: 16px;
    gap: 0;
  }
}

.slider-reviews__item {
  max-width: 700px;
  min-height: 290px;
  border: 1px solid $color-resolution-blue-10;
  box-shadow: 0 0 20px 0 $color-resolution-blue-10;
  background-color: $color-default-white;

  @include vp-1440 {
    max-width: 565px;
    min-height: 277px;
    box-shadow: 0 0 30px 0 $color-resolution-blue-10;
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 482px;
    box-shadow: 0 0 20px 0 $color-resolution-blue-10;
  }
}


.slider-reviews__image {
  margin-top: 2px;
  width: 100%;
  min-height: 254px;

  @include vp-1440 {
    margin: 0;
    min-height: 237px;
  }

  @include vp-767 {
    min-height: 169px;
  }
}

.slider-reviews__image img {
  width: 100%;
  object-fit: cover;
}

.slider-reviews__comment {
  margin-right: 20px;

  @include vp-1440 {
    margin-top: 3px;
    margin-right: 0;
  }

  @include vp-767 {
    margin-top: 12px;
  }
}

.slider-reviews__comment p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-1440 {
    font-size: 12px;
    line-height: 18px;
  }
}

.slider-reviews__comment p + p {
  margin: 0;
  margin-top: 10px;

  @include vp-1440 {
    margin-top: 11px;
  }

  @include vp-767 {
    margin-top: 10px;
  }
}

.slider-reviews__comment-person {
  display: flex;
  flex-direction: column;
  margin-top: 4px;

  @include vp-1440 {
    margin-top: 25px;
  }

  @include vp-767 {
    margin-top: 16px;
  }
}

.slider-reviews__comment-person h3 {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.slider-reviews__comment-person p {
  margin: 0;
  margin-top: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;

  @include vp-1440 {
    margin-top: 6px;
  }

  @include vp-767 {
    margin-top: 8px;
  }
}
