.training .swiper-slide {
  height: auto;
}

.training__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 49px;
  padding-bottom: 40px;
  text-align: start;

  @include vp-767 {
    padding-top: 27px;
  }
}

.training__wrapper h3 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  @include vp-1440 {
    margin-bottom: 37px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 22px;
  }
}

.training__titel {
  display: flex;
  flex-direction: column;
  margin-right: 324px;
  margin-bottom: 62px;
  text-align: start;

  @include vp-1440 {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.training__titel h2 {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  @include vp-1440 {
    margin-bottom: 34px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin-bottom: 33px;
    font-size: 22px;
    line-height: 22px;
  }
}

.training__titel br {
  display: none;

  @include vp-1440 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.training__titel h2::before {
  position: absolute;
  top: -17px;
  left: 1px;
  color: $color-elephant;
  opacity: 3%;
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;
  content: attr(data-titel-tag);

  @include vp-1440 {
    top: -16px;
    left: 0;
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
  }
}

.training__titel p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.training__navigation {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 222px;
  right: 0;
  padding-right: 0;
  max-width: 320px;
  justify-content: end;
  gap: 4px;

  @include vp-1440 {
    top: 207px;
  }

  @include vp-767 {
    display: none;
  }
}

.training__descriptions {
  position: relative;
  margin-top: 58px;

  @include vp-1440 {
    margin-top: 27px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 26px;
  }
}

.training__descriptions h4 {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @include vp-1440 {
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__descriptions-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-left: 10px;
  max-width: 1200px;
  padding: 0;
  gap: 12px;
  row-gap: 30px;
  list-style: none;

  @include vp-1440 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map mountain"
      "boots tree";
    margin-left: -1px;
    gap: 134px;
    row-gap: 104px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    gap: 0;
    row-gap: 25px;
  }
}

.training__descriptions-list::before {
  position: absolute;
  bottom: -10px;
  left: 10px;
  background: $color-navy-blue;
  content: "";

  @include vp-767 {
    display: block;
    top: 14px;
    left: -20px;
    width: 2px;
    height: calc(100% - 25px);
  }
}

.training__descriptions-item {
  display: flex;
  position: relative;
  max-width: 242px;
  gap: 10px;
}

.training__descriptions-item svg {
  width: 46px;
  height: 29px;

  @include vp-767 {
    width: 42px;
    height: 26px;
  }
}

.training__descriptions-item--map {
  @include vp-1440 {
    grid-area: map;
    gap: 8px;
  }

  @include vp-767 {
    gap: 7px;
  }
}

.training__descriptions-item--boots {
  @include vp-1440 {
    grid-area: boots;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.training__descriptions-item--boots svg {
  @include vp-767 {
    width: 45px;
    height: 25px;
  }
}

.training__descriptions-item--tree {
  @include vp-1440 {
    grid-area: tree;
  }

  @include vp-767 {
    gap: 7px;
  }
}

.training__descriptions-item--tree svg {
  @include vp-767 {
    width: 50px;
    height: 26px;
  }
}

.training__descriptions-item--mountain {
  @include vp-1440 {
    grid-area: mountain;
    gap: 8px;
  }
}

.training__descriptions-item--mountain svg {
  width: 44px;
  height: 29px;

  @include vp-767 {
    width: 44px;
    height: 26px;
  }
}

.training__descriptions-item::before {
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: calc(100% + 12px);
  height: 2px;
  background: $color-navy-blue;
  content: "";

  @include vp-1440 {
    display: none;
  }
}

.training__descriptions-item::after {
  position: absolute;
  bottom: -16px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $color-navy-blue;
  content: "";

  @include vp-1440 {
    display: none;
  }

  @include vp-767 {
    display: block;
    top: 12px;
    left: -26px;
  }
}


.training__descriptions-item:last-child::after {
  left: 8px;

  @include vp-767 {
    left: -26px;
  }
}

.training__descriptions-item:nth-child(4n)::before {
  width: calc(100% + 176px);
}


.training__descriptions-item:nth-child(3)::after {
  left: -11px;

  @include vp-767 {
    left: -26px;
  }
}

.training__descriptions-item p {
  margin: 0;
  margin-right: 6px;
  font-size: 16px;
  line-height: 24px;

  @include vp-1440 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    margin-right: 7px;
    font-size: 12px;
    line-height: 18px;
  }
}


.training__clouds-background {
  position: absolute;
  bottom: -68px;
  right: -120px;
  z-index: -1;

  @include vp-1440 {
    bottom: 116px;
    right: -45px;
  }

  @include vp-767 {
    display: none;
  }
}

.training__clouds-background img {
  width: 634px;
  height: 270px;

  @include vp-1440 {
    width: 464px;
  }
}
